@media (max-width: 1148px) and (min-width: 850px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-center {
        justify-content: center;
        gap: 1vw;
    }

}


@media (min-width: 580px) and (max-width: 850px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .product-item {
        height: 260px;
        box-shadow: 0 12px 12px 3px rgb(176 176 176 / 41%);
    }

    .product-item h3 {
        margin: 0px;
        padding: 0px;
        font-weight: 600;
    }

    .footer-center {
        flex-direction: column;
        align-items: flex-start;
    }




    .footer-center {
        flex-direction: row;

        flex-wrap: wrap;
    }
}

@media (max-width: 580px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .product-item {
        height: 260px;
        box-shadow: 0 12px 12px 3px rgb(176 176 176 / 41%);
    }

    .product-item h3 {
        margin: 0px;
        padding: 0px;
        font-weight: 600;
    }

    .footer-center {
        flex-direction: column;
        align-items: flex-start;
    }

    .header>h1 {
        font-size: 22px;
        white-space: nowrap;
    }

}

@media (min-width: 580px) and (max-width: 950px) {
    .product-content>div>img {
        height: 300px;
    }

    .list-img {
        width: 300px;
    }

    .description {
        flex-direction: column;
        width: 720px;

    }

    .detail-description::after {
        width: 0px;
    }

    .related {
        display: none;
    }
}

@media (max-width: 750px) {

    .description {
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 30px;

    }

    .detail-description::after {
        width: 0px;
    }

    .related {
        display: none;
    }





    .product-content {
        flex-direction: column;
        background-color: #fff;
        width: 90% !important;
        margin: 0px 5%;
    }

    .product-content>div>img {
        width: 94%;
        height: unset;
        margin: 10px;
        aspect-ratio: 3/2;
    }

    .list-img {
        width: 94%;
    }

    .product-detail {

        width: 100%;

    }


}

@media (max-width: 420px) {
    .cart {
        width: 100%;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
    }

    .cart button:last-child {
        margin: 0px;
    }

    .cart button {
        width: 100%;
    }
}

@media (max-width: 1350px) {


    .term {
        overflow-x: auto;
        display: block;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        margin: 0px calc(50% - 480px);
        width: 960px;
    }

    .term>* {
        white-space: wrap;
        display: inline-flex;
        width: 300px;
        height: max-content;
        scroll-snap-align: start;
        margin-right: 20px;
    }

    .term>*:last-child {
        margin-right: 0px;
    }
}

@media (max-width: 980px) {


    .term {
        margin: 0px calc(50% - 320px);
        width: 640px;
    }
}

@media (max-width: 630px) {


    .term {
        margin: 0px calc(50% - 160px);
        width: 320px;
    }
}

@media (max-width: 950px) {


    .mobile-related {
        overflow-x: scroll;
        margin-top: 10px;
        display: flex;
        gap: 20px;
        width: 100%;
        height: max-content;
    }

    .mobile-related>a {
        height: 290px;
        margin: 10px 0px;
    }

    .mobile-related>.product-item>.product-info>h3 {
        margin: 0px;
    }

    .mobile-related>a:last-child {
        display: block;
        width: max-content;
        height: max-content;
        white-space: nowrap;
        margin: auto auto;
        color: #fff;
        background-color: var(--primary-color);
        padding: 6px 10px;
        border-radius: 10px;

    }


}